# Django Configuration
DEBUG=False
SECRET_KEY=cambiar-por-una-clave-segura
ALLOWED_HOSTS=192.168.0.50,localhost,127.0.0.1

# Database Configuration
DB_NAME=bet_db
DB_USER=nico
DB_PASSWORD=cambiar-por-password-seguro
DB_HOST=localhost
DB_PORT=3306
DB_ROOT_PASSWORD=cambiar-por-password-root-seguro

# Django Server Port
DJANGO_PORT=8080

# CORS Configuration
CORS_ALLOWED_ORIGINS=https://tu-front.vercel.app,http://localhost:5173

# Email
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password
DEFAULT_FROM_EMAIL=tu-email@gmail.com
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# Redis
REDIS_HOST=redis
