asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.5
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.1
greenlet==3.2.4
idna==3.10
mysql-connector-python==9.4.0
mysqlclient==2.2.7
numpy==2.3.2
pandas==2.3.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
six==1.17.0
SQLAlchemy==2.0.42
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
beautifulsoup4==4.12.3
lxml==5.1.0
selenium==4.15.2
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
